<?xml version='1.0' encoding='utf-8'?>
<widget id="com.goodfn.getpokedetails" 
versionCode = "10"
version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Get PokeDetails</name>
    <description>
        Enter name of your favourite Poke Character and fetch details about it
    </description>
    <author email="goodfen84@gmail.com" href="http://goodfen.blogspot.com">
        GoodFun
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
